@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap");

/* header */
header {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.headerButton {
  margin: 20px;
  height: 4.7rem;
  width: 4.7rem;
  border-radius: 50%;
  background-color: rgb(163, 116, 255);
  border: none;
  text-decoration: none;
  z-index: 4;
  scale: 0.9;
}
.headerButton:hover {
  cursor: pointer;
  scale: 1;
}

.headerButton::after {
  background-color: rgb(104, 13, 231);
}

#nav-links {
  position: fixed;
  top: 0rem;
  right: 0.5rem;
  z-index: 3;
  list-style-type: none;
  background-color: rgb(163, 116, 255);
  height: 24rem;
  width: 14rem;
  padding: 0;
  border-radius: 63px;
  clip-path: circle(100px at 90% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
  transition: all 1s ease-out;
}

#nav-links.open {
  clip-path: circle(50px at 106% -6%);
  -webkit-clip-path: circle(500px at 90% -10%);
}

#nav-links > li {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

#nav-links > li > a:hover {
  scale: 1.1;
}

#nav-links > li:first-child {
  margin-top: 3rem;
}

#nav-links > li > a {
  color: black;
  text-decoration: none;
  font-size: 23px;
  font-family: sans-serif;
  font-weight: bold;
}

.links-container {
  background-color: white;
  z-index: 2;
  height: 10rem;
  width: 2rem;
}

/* body */
body {
  margin: 0;
  font-family: "Poppins", "sans-serif";
  background-color: black;
  color: white;
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
}

/* Initial animation on start up */
.init-iframe {
  width: 100%;
  margin-right: auto;
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  pointer-events: none;
  height: 100vh;
}

.avatar {
  z-index: 3;
}

#avatar {
  width: 100%;
  margin-right: auto;
  position: absolute;
  z-index: 3;
  top: 40%;
  right: 0;
  pointer-events: none;
  height: 50vh;
  opacity: 0;
}

h1 {
  font-family: Geneva;
  font-size: 5rem;
  margin-top: 0.8em;
  margin-bottom: 0.3em;
}

p {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
}

h1,
p {
  text-align: center;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  z-index: 3;
  position: relative;
  pointer-events: none;
  color: aliceblue;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* lighting blob */
#blob {
  height: 28vmax;
  aspect-ratio: 1;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background: linear-gradient(
    to right,
    rgb(135, 18, 203) 0%,
    rgb(135, 18, 203) 25%,
    rgb(6, 79, 237) 50%,
    rgb(135, 18, 203) 75%,
    rgb(135, 18, 203) 100%
  );
  animation: rotate 40s infinite, scale-animation 12s ease-in-out infinite;
  opacity: 0.7;
  z-index: 1;
  border-radius: 50%;
  filter: blur(200px);
}

/* About me Page */

.about-me-container,
.appearing-text-container {
  display: flex;
  justify-content: center;
}

#about-me-text,
#appearing-text {
  width: 41rem;
}

.continueButton {
  background: none;
  border: none;
  color: rgb(163, 116, 255);
  padding: 0;
  margin-left: 1rem;
  scale: 2;
  z-index: 3;
  position: relative;
}

.continueButton:hover {
  cursor: pointer;
  color: rgb(104, 13, 231);
}

.appearing-text-container {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.appearing-text-container.visible {
  opacity: 1;
}

/* porject page */

.openChat-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#openChat-img {
  height: 37vh;
  display: flex;
  position: relative;
  width: 35%;
  margin-left: 7rem;
  border-radius: 20px;
  z-index: 2;
}

.chatBox-text-container {
  display: flex;
  width: 61rem;
  justify-content: center;
  z-index: 2;
  margin-top: 2rem;
}

.chatBox-text {
  width: 75%;
  cursor: default;
}

.chatBoxLink {
  text-decoration: none;
  color: rgb(163, 116, 255);
}

.whats-for-dinner-container {
  display: flex;
  flex-direction: row-reverse
  
}

.whats-for-dinner-imgContainer {
  width: 50%;
  display: flex;
    justify-content: flex-start;
    padding-top: 5rem;
}

#whats-for-dinner {
  width: 38rem;
  z-index: 3;
  position: relative;
  border-radius: 20px;
  z-index: 3;

}

.whats-for-dinner-text-container {
  display: flex;
  justify-content: center;
  width: 60%;
  padding-top: 4rem;
  z-index: 3;
}

.whats-for-dinner-text {
  width: 70%;
}
